<p>mens works!</p>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0630/4654/9755/products/621009-NA1_1_490x.progressive.jpg?v=1665212067" alt="">
    <div class="card-body" >
        <p><b> Men's Shirts</b> <br>Rs: 1400</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0752/6435/files/Contrast_pattern_shirts_Rare_Rabbit_480x480.jpg?v=1654058704" alt="">
    <div class="card-body" >
        <p><b>Stilish Shirts</b> <br>Rs: 3200</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://src1.ilogo.in/new_upload/2015/2708/14406530924924818995504/1440675272/front_design_idea.webp" alt="">
    <div class="card-body" >
        <p><b>T-Shirts</b> <br>Rs: 1600</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://assets.ajio.com/medias/sys_master/root/20220819/U6Hn/62fe946daeb26917618468dc/bene_kleed_cream_floral_print_slim_fit_shirt.jpg" alt="">
    <div class="card-body" >
        <p><b>Party-Wear Shirts</b> <br>Rs: 3000</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://navbharattimes.indiatimes.com/thumb/88541917/88541917.jpg?imgsize=138526&width=540&height=405&resizemode=75" alt="">
    <div class="card-body" >
        <p><b>Fancy-Wear Shirts</b> <br>Rs: 3200</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://sc01.alicdn.com/kf/HTB10SzmbmcqBKNjSZFgq6x_kXXaQ/221500190/HTB10SzmbmcqBKNjSZFgq6x_kXXaQ.jpg_.webp" alt="">
    <div class="card-body" >
        <p><b>Designer Shirts</b> <br>Rs: 3500</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<br>
<br>
<br>
<br>
<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://i.ebayimg.com/images/g/fdoAAOSwSbhdhGXI/s-l1600.jpg" alt="">
    <div class="card-body" >
        <p><b>Long Kurta</b> <br>Rs: 3600</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://assetscdn1.paytm.com/images/catalog/product/A/AP/APPVAN-HEUSEN-PADIT50996EF713155/1562833044784_1..jpg?imwidth=282&impolicy=hq" alt="">
    <div class="card-body" >
        <p><b>Men's Official</b> <br>Rs: 7400</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://dolcevitasuits.com/wp-content/uploads/2021/10/2021-DolceVita-Homepage-Image-Grid-800x1600-1.jpg" alt="">
    <div class="card-body" >
        <p><b>Men's Suit</b> <br>Rs: 12000</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0366/0860/6253/files/about-img.jpg?v=1617089418" alt="">
    <div class="card-body" >
        <p><b>Men's Sport-Wear</b> <br>Rs: 2200</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://5.imimg.com/data5/CY/HL/FM/ANDROID-70317827/img-20191207-wa0014-jpg-500x500.jpg" alt="">
    <div class="card-body" >
        <p><b>Men's Track-Suit</b> <br>Rs: 4200</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2011/5739/products/H21-M-EAS-MU-F.jpg?v=1667277695&width=480" alt="">
    <div class="card-body" >
        <p><b>Men's Sweatshirt</b> <br>Rs: 4200</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>
<div>
    <br>
    <br>
    <br>
</div>