

        <ng-container class="card" style="width: 18rem;" *ngFor="let course of courses">
          <div *ngIf="course.id">
            <img class="card-img-top" [src]="course.iconURL" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{course.desc}}</h5>
              <div [ngSwitch]="course.categiry">
                <div class="btn btn-info " *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
                <div class="btn btn-secondary" *ngSwitchCase="'BEGINNER'">Beginner</div>
                <div class="btn btn-success" *ngSwitchCase="'ADVANCED'">Advanced</div>
                <div class="btn btn-success" *ngSwitchDefault>All Level</div>
              </div>
            </div>
          </div>
        </ng-container>

          <div class="container">
            <div class="col-md-2">
              <select class="form-control" (change)="getProductValue($event)">
                <option value="Default">Select Product</option>
                <option value="Laptop">Laptop</option>
                <option value="Mobile">Mobile</option>
                <option value="TV">TV</option>
                <option value="Freeze">Freeze</option>
              </select>
            </div>
            <div class="col-md-12" [ngSwitch]="selectedProduct">
              <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
              <h2 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h2>
              <h2 class="text-success" *ngSwitchCase="'TV'">TV</h2>
              <h2 class="text-success" *ngSwitchCase="'Freeze'">Freeze</h2>

            </div>
          </div>