<p>fashion works!</p>
<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0091/3525/9745/collections/portrait-enthusiastic-handsome-caucasian-man-show-okay-gesture-rate-good-product-recommend-best-quality-service_24d04ca1-c041-490d-839d-cf9f86ad3740_600x600_crop_center.jpg?v=1650705162" alt="">
    <div class="card-body" >
        <h5 class="card-title">Men's Fassion</h5>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-5"> <a routerLink="men" class="nav-link"> Go for Men's </a></button>
</div>
<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://neilski.typepad.com/.a/6a00df351efa888833017d40585f49970c-pi" alt="Ladis image">
    <div class="card-body" >
        <h5 class="card-title">Wooman's Fassion</h5>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-5"> <a routerLink="woman" class="nav-link"> Go for Woman's </a></button>
</div>
<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/originals/51/13/37/5113376579bcd0f90514b77ac0ec3768.jpg" alt="">
    <div class="card-body" >
        <h5 class="card-title">Child's Fassion</h5>
    </div>
</div>
<button class="btn btn-primary mt-2  ms-5"> <a routerLink="child" class="nav-link"> Go for Child's </a></button>
</div>
