
.subscribe-page{
    max-width: 1000px;
    margin: 50px auto 0 auto;
    background-image: url(https://images.ctfassets.net/co0pvta7hzrh/1HOajBVHsh7xunfUnjpDNE/c94d271e8f90a6bf6016fc1d275d7a74/e_commerce_registration_form_template_thumb.png);
    background-size: cover;
}
/* .subscrib-page {
    max-width: 1000px;
    margin: 50px auto 0 auto;
    background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg);
    background-size: cover;
} */
/* .subscrib-form{
    display: flex;
    flex-direction:column; 
} */