<p>democommentdetails works!</p>
<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>PostId</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Body</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{commentPost.postId}}</td>
                        <td>{{commentPost.id}}</td>
                        <td>{{commentPost.name}}</td>
                        <td>{{commentPost.email}}</td>
                        <td>{{commentPost.body}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <button class="btn btn-primary mt-2 ms-5"><a routerLink="/comment" class="nav-link">Back to Comment</a></button>
</div>
