<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h3 class="bgc">
    Welcome to {{ title }} !  {{name}}
  </h3>
<br>
  <h3>Employee Count : {{empCount}}</h3>
  <br>
  <h3 class="bgcc">
    {{text}}
  </h3>
</div>
<br>
  <div><h4>
    <app-test1></app-test1>
  </h4>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL
  3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiI
  GQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgI
  CA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyN
  SAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LT
  I5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
 <br>
  <h1>{{data.name}} {{data.dept}}</h1>
  <br>
<img [src]="imageUrl" alt="">
<br><br><br>

<h4>Current Date & Time: {{currentTime()}}</h4>
<br>
  
<app-test2 [child] = "parentToChild" (fromChild)="onParent($event)" (objFromChild)="objOnParent($event)">
  
</app-test2>
<br><br><br>

<app-card [title] = "posts[0].title" [content]="posts[0].content"></app-card><br><br>
<app-card [title] = "posts[1].title" [content]="posts[1].content"></app-card>
</div>
<br><br>
<app-ng-for></app-ng-for>


  <app-countrystatedrp></app-countrystatedrp>


  <app-ng-if></app-ng-if>

  <app-ng-swich></app-ng-swich>
  
  <app-ng-style></app-ng-style>
<br>
<p style="background-color:gray;">|</p>
<h3 style="text-align: center;">** ngClass Example **</h3>
  <app-ng-class></app-ng-class>
  <br>
  <p style="background-color:gray;">|</p>

  <h3 style="text-align: center;">** Creating Custom Directives **</h3>

  <p style="text-align: center;">This is normal paragraph</p>
  <p appCustom>This is normal paragraph - using "Custom Directives"</p>
  <p appCustom>Using "Custom Directives" - 'changed background color', 'font color', 'font size' and 'alignment' </p>
  
  <br>

  <p style="background-color:gray;">|</p>

  <h3 style="text-align: center;">** Toggle me - Using Angular Material **</h3>
  <br>
  <div style="text-align:center">
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
</div>
  <br>
  <br>

  <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** mat-slider - Using Angular Material **</h3>

  <div style="text-align: center;">
  <mat-slider min="1" max="5" step="0.5" value="1.5">
    <input matSliderThumb>
  </mat-slider>
</div> -->

<!-- <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Template Form **</h3>

  <app-templateform></app-templateform>
  <br>
    
  <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Template-Driven Form Assignment **</h3>

  <app-tempformassign></app-tempformassign>
<br> 
  <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** practemform **</h3>
  
  <app-practemform></app-practemform>
 <br>
  <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Reactive Form **</h3>
<app-reactiveform></app-reactiveform>
<br>
  <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Pandurang's Reactive form Assignment **</h3>
  <app-reactiveformassign></app-reactiveformassign>
<br> 
  <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** My Reactive form Assignment **</h3>

  <app-reactmyassign></app-reactmyassign>
     -->
  <!-- <br>
  <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Age calculator only for year, print method called, Display method called **</h3>
  <h3 style="text-align: center;">** Using Service **</h3>
<app-agecalculator></app-agecalculator>
<br> -->

  <!-- <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Dependancy Injection using "Service" in Angular **</h3>
  <div class="page-area">
  <div class="row">
    <div class="col-md-6">
      for usdi1
      <app-usdi1></app-usdi1>
    </div>
    <div class="col-md-6">
      for usdi2
      <app-usdi2></app-usdi2>
    </div>
  </div>
</div>
<br>
<hr><hr>
  <app-ussdi3></app-ussdi3> -->
  <!-- <br>
  <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** HTTP Client **</h3>
  <p> Accessing data/object from the client server and show on browser</p>
  <app-usshttp4></app-usshttp4>
  
  <br> -->
  <!-- <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Pipe Examples **</h3>
  <app-pipeexample></app-pipeexample>
  <br> -->
  <!-- <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Product Filter **</h3>
    <app-productfilter></app-productfilter>
  <br> -->
  <!-- <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Assignment on Search Pipe **</h3>

  <app-pipesearchassign></app-pipesearchassign>

  <br> -->
    
  <!-- <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Subject and BehaviorSubject **</h3>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <div>
      <app-comp1></app-comp1>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <app-comp2></app-comp2>
    </div>
  </div>

  <div class="col-md-6">
    <div>
      <app-comp3></app-comp3>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <app-comp4></app-comp4>
    </div>
  </div>
</div>
</div>

  <br>
  <br> -->
  <!-- <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Subject and BehaviorSubject Assignment **</h3>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <app-uscomp1></app-uscomp1>
        </div>

      </div>
      <br>
      <div class="col-md-6">
        <div>
          <app-uscomp2></app-uscomp2>
        </div>
      </div>
      
      <div class="col-md-6">
        <div>
          <app-uscomp3></app-uscomp3>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <app-uscomp4></app-uscomp4>
        </div>
      </div>
    </div>
    </div>
    
  <br> -->
  <!-- <br> -->

  <!-- <p style="background-color:gray;">|</p>
  <h3 style="text-align: center;">** Crud HandsOn usscrud1 **</h3>

  <app-usscrud1></app-usscrud1>
  <br> -->

  <p style="background-color:gray;">|</p>
   
  <header>
    <h4>Routing Concept</h4>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a routerLinkActive="active" routerLink="/homepage" class="nav-link">HomePage</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/aboutus" class="nav-link">AboutUs</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/contactus" class="nav-link">ContactUs</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/product" class="nav-link">Product</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/post" class="nav-link">Post</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/postdetails" class="nav-link">PostDetails</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/userpost" class="nav-link">User</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/userdetails" class="nav-link">UserDetails</a></li> 
        <li class="nav-item"><a routerLinkActive="active" routerLink="/comment" class="nav-link">Comment</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/commentdetails" class="nav-link">commentdetails</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/order" class="nav-link">Order</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/fashion" class="nav-link">Fashion</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/customer" class="nav-link">Customer</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/admin" class="nav-link">Admin</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/todo" class="nav-link">ToDo</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/usscrud1" class="nav-link">usscrud1</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/serchapi" class="nav-link">SearchOn WIki</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/cartlogin" class="nav-link">Cart Login</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/cartshoping" class="nav-link">Cart Shoping</a></li>
      </ul>
    </nav>
  </header>

  <br>
   
<!-- 
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<div style="text-align: center;"> -->


 

<router-outlet></router-outlet>
