<p>product works!</p>


<div class="row">
    <div class="col-md-12">
        <p appCustom>This is custom Directive Example</p>
    </div>
    <div class="col-md-6">
        <div class="card ms-2">
            <img class="card-img-top" src="../../assets/images/laptop.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">Product Example</p>
                <a routerLink="laptop" class="btn btn-primary">Laptop</a>
            </div>
        </div>
        <div class="card ms-2">
            <img class="card-img-top" src="../../assets/images/mobile.jpeg" alt="">
            <div class="card-body">
                <h5 class="card-title">Mobile</h5>
                <p class="card-text">Product Example</p>
                <a routerLink="mobile" class="btn btn-primary">Mobile</a>
            </div>
        </div>
        <div class="card ms-2">
            <img class="card-img-top" src="../../assets/images/camera.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Camera</h5>
                <p class="card-text">Product Example</p>
                <a routerLink="camera" class="btn btn-primary">Camera</a>
            </div>
        </div>
        <div class="card ms-2">
            <img class="card-img-top" src="../../assets/images/Rolex.jpg" alt="">
            <div class="card-body">
                <h5 class="card-title">Watch</h5>
                <p class="card-text">Product Example</p>
                <a routerLink="watch" class="btn btn-primary">Watch</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <router-outlet></router-outlet>
    </div>
</div>