<p>childrens works!</p>



<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kids-dress/e/p/w/9-10-years-children-dress-02-04-urban-creation-original-imaggzfgdvbvfzpw.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Baby frock</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kids-t-shirt/e/y/h/7-8-years-red-boy-white-free-fire-tees-original-imagg6mztgxygght.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Boy's T-shirts</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/xif0q/kids-ethnic-set/6/z/s/3-4-years-tdk-21-ftc-fashions-original-imaf237gbqpb9gwg-bb.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Boy's Kurtas</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kids-ethnic-set/p/q/6/14-15-years-kd-vivah-1-esl-kasumbal-original-imagfzjathfwu4ez.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Girl's Top & Scirt </b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/l4a7pu80/kids-legging/l/l/t/5-6-years-kids-5-allover-k-m-r-original-imagf847gsypf5s2.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Girl's Legging</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kids-ethnic-set/v/x/l/5-6-years-kidsharara-urban-flu-original-imagn3exrrn8hqbx.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Girl's Festive</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<br>
<br>
<br>
<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kids-ethnic-set/b/h/y/0-6-months-mwc-lakshu-fashions-original-imaf5dfmht4babgq-bb.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Boy's Festive</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kids-ethnic-set/j/f/3/11-12-years-121-sacollectoion-original-imaghpzgegbjcskp.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Boy's Party wear</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/shopsy-kids-ethnic-set/c/m/y/8-9-years-sy-fade-243-yellow-cosmos-art-enterprise-original-imagmf7s3sqngpgm.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Boy's party-wear</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kaftan/i/s/k/5-6-years-1025-pink-ultinity-original-imagmqrw6zr2y4uy.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Girl's Craften</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kids-dress/e/q/l/6-7-years-skirt-top-zonafashion-original-imagbd5fgyhtjt2a-bb.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Girl's Dress</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>

<div class="inline">
    <div class="card">
    <img class="card-img-top" src="https://rukminim1.flixcart.com/image/832/832/xif0q/kids-dress/o/2/d/7-8-years-b-gf0092-teal-billion-original-imagc2begzhvhtvz-bb.jpeg?q=70" alt="">
    <div class="card-body" >
        <p><b>Girl's Casual Dress</b> <br>Rs: *******</p>
    </div>
</div>
<button class="btn btn-primary mt-2 ms-4"> <a routerLink="/fashion" class="nav-link" (click)="upadateUserName()"> Add to Cart </a></button>
</div>
<div>
    <br>
    <br>
    <br>
</div>